<div class="row">
	<div class="col-12 col-md-3">
		<%= render partial: 'rooms' %>
	</div>
	<div class="col">
		<div class="alert alert-primary">
			<h4 class="alert-heading">
				Welcome to Web Chat App
			</h4>
			<hr/>
			<p>
				You can create by clicking the Create room button or join any room available on the side bar
			</p>
		</div>
	</div>
</div>